.container.sight
  .center-block
    .row
      %h1= @sight.name

  .col-sm-4
    %p
      %strong Average Rating:
      #{@sight.average_rating} /5
    %p
      %strong Category:
      = @sight.category.name
    %p
      %strong Address:
      = @sight.address
    %p
      %strong Description:
      = @sight.description
    %p
      - if current_user
        = link_to "+ I've visited this Sight", user_visited_sights_path(user_id: current_user.id, sight_id: @sight.id), method: :post, class: 'btn btn-primary'
        %a.btn.btn-default{href: edit_sight_path(@sight), role: "button"} Edit this Sight

  -# main photo
  .col-sm-4
    - if @sight.photos.first
      %a{"data-lightbox" => "image-1",
        "data-title" => "#{@sight.photos.first.description} - Added by: #{link_to @sight.photos.first.user.full_name, user_path(@sight.photos.first.user)}",
        href: @sight.photos.first.image}
        = image_tag @sight.standard_photo

  -# location map
  .col-sm-4
    %p
      = image_tag single_location_map_link(@sight.address)

  -# thumbnails
  .center-block
    %h3 Photos
    - @sight.photos.each do |photo|
      %a{"data-lightbox" => "#{photo.id}",
        "data-title" => "#{photo.description} - Added by: #{link_to photo.user.full_name, user_path(photo.user)} #{link_to '(Edit Photo)', edit_sight_photo_path(@sight, photo)}",
        href: photo.image}
        = image_tag photo.thumb_url
    %p= link_to "Add Photos", new_sight_photo_path(@sight)

  .center-block
    %h3 Reviews (#{@sight.reviews.count})
    %dl.dl-horizontal
      - @sight.reviews.each do |review|
        .dt Rating: #{review.rating} / 5 by #{link_to review.creator.full_name, user_path(review.creator)}
        .dd= review.content
        - if current_user == review.creator
          = link_to "Edit this review", edit_sight_review_path(@sight, review)

  .center-block
    .col-sm-6.col-sm-offset-3
      - if current_user
        = bootstrap_form_for [@sight, Review.new] do |f|
          %fieldset
            .form-group
              %h3 Rate this Sight
              = f.select :rating, options_for_sight_ratings
            .form-group
              .row
                = f.text_area :content, label: "Write Review", rows: 6
          %fieldset.form-group.actions.clearfix
            = f.submit "Add Review", class:"btn btn-primary"
            = link_to "Cancel", @sight, class: "btn btn-default"
      - else
        %h4
          = link_to "Sign in", sign_in_path
          to add your review.
