.container.sight
  .row
    %h1.col-md-8= @sight.name
    .col-md-4
      = link_to "+ I've been to this Sight", visited_sights_path(sight_id: @sight.id), method: :post, class: 'btn btn-primary'
  %p
    %strong Average Rating:
    #{@sight.average_rating} /5
  %p
    %strong Category:
    = @sight.category.name
  %p
    %strong Address:
    = @sight.address
  %p
    %strong Description:
    = @sight.description
  %p
    = image_tag single_location_map_link(@sight.address)

  %a.btn.btn-default{href: edit_sight_path(@sight), role: "button"} Edit this Sight

  %h3 Photos
  %p NEED A STRING OF PHOTO THUMBNAILS HERE

  %h3 Reviews (#{@reviews.count})
  - @reviews.each do |review|
    %article.review
      .row
        .col-sm-2
          %span Rating: #{review.rating} / 5
          %p by
          = link_to review.creator.full_name, user_path(review.creator)
        .col-sm-8
          %p= review.content
          - if current_user == review.creator
            = link_to "Edit this review", edit_sight_review_path(@sight, review)

  - if current_user
    .row
      .col-sm-10
        = bootstrap_form_for [@sight, Review.new] do |f|
          %fieldset
            .form-group
              %label.h3 Rate this Sight
              .row
                .col-sm-3
                  = f.select :rating, options_for_sight_ratings
            .form-group
              .row
                .col-sm-8
                  = f.text_area :content, label: "Write Review", rows: 6
          %fieldset.form-group.actions.clearfix
            = f.submit "Submit"
            = link_to "Cancel", @sight
  - else
    %h4
      = link_to "Sign in", sign_in_path
      to add your review.
