!!! 5
%html(lang="en-US")
  %head
    %title Sightseer - Tourist sight info and reviews
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    %header
      = render 'shared/header_new'
    %section.content.clearfix
      = render 'shared/messages'
      = yield
    %footer
      .container
        &copy 2015 Sightseer
